.sidebar {
    width: 30%;
    height: 100%;
    position: fixed;
    .gradient(54deg, #172533 10%, #374B55 90%);
    .avatar{
        padding-top: 60px;
        width: 50%;
        margin: 0 auto;
        margin-right: 75px;

    }
}

.content {
    width: 70%;
    height: 100%;
    position: absolute;
    right: 0;
    background: blue;
    .gradient_elipse();
}

.circular-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
}

.circular-img_shadowed {
    -webkit-box-shadow: 0px 0px 0px 14px rgba(27, 41, 51, 0.6);
    -moz-box-shadow: 0px 0px 0px 14px rgba(27, 41, 51, 0.6);
    box-shadow: 0px 0px 0px 14px rgba(27, 41, 51, 0.6);
}